{% extends "base.html" %}

{% block content %}
  
  <div class="container-fluid">
    <div class="row">

      <div class="col-1"></div>

      <div class="col-1 table_block text-center">Акция</div>

      <div class="col-2">
        <table class="table table-borderless table-sm table-striped">
          <thead class="table">
          </thead>
          <tbody>
            <tr>
              <td>Пред. закрытие</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Открытие</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Объём</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Средний объём (3м)</td>
              <td>Значение</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-2">
        <table class="table table-borderless table-sm table-striped">
          <thead class="table">
          </thead>
          <tbody>
            <tr>
              <td>Изменение за год</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Дн. диапазон</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>52 недель</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Рыночн. капитал</td>
              <td>Значение</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-2">
        <table class="table table-borderless table-sm table-striped">
          <thead class="table">
          </thead>
          <tbody>
            <tr>
              <td>Цена/доход</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Акции в обращении</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Доход</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>EPS</td>
              <td>Значение</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-2">
        <table class="table table-borderless table-sm table-striped">
          <thead class="table">
          </thead>
          <tbody>
            <tr>
              <td>Дивиденды</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Бета</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Следующий отчёт</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Удалить акцию</td>
              <td>Кнопка</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-1 table_block text-center">Подсветка продажи/покупки</div>
    </div>


    <div class="row">

      <div class="col-1"></div>

      <div class="col-1 table_block text-center">Акция</div>

      <div class="col-2">
        <table class="table table-borderless table-sm table-striped">
          <thead class="table">
          </thead>
          <tbody>
            <tr>
              <td>Пред. закрытие</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Открытие</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Объём</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Средний объём (3м)</td>
              <td>Значение</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-2">
        <table class="table table-borderless table-sm table-striped">
          <thead class="table">
          </thead>
          <tbody>
            <tr>
              <td>Изменение за год</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Дн. диапазон</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>52 недель</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Рыночн. капитал</td>
              <td>Значение</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-2">
        <table class="table table-borderless table-sm table-striped">
          <thead class="table">
          </thead>
          <tbody>
            <tr>
              <td>Цена/доход</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Акции в обращении</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Доход</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>EPS</td>
              <td>Значение</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-2">
        <table class="table table-borderless table-sm table-striped">
          <thead class="table">
          </thead>
          <tbody>
            <tr>
              <td>Дивиденды</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Бета</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Следующий отчёт</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Удалить акцию</td>
              <td>Кнопка</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-1 table_block text-center">Подсветка продажи/покупки</div>
    </div>


    <div class="row">

      <div class="col-1"></div>

      <div class="col-1 table_block text-center">Акция</div>

      <div class="col-2">
        <table class="table table-borderless table-sm table-striped">
          <thead class="table">
          </thead>
          <tbody>
            <tr>
              <td>Пред. закрытие</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Открытие</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Объём</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Средний объём (3м)</td>
              <td>Значение</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-2">
        <table class="table table-borderless table-sm table-striped">
          <thead class="table">
          </thead>
          <tbody>
            <tr>
              <td>Изменение за год</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Дн. диапазон</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>52 недель</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Рыночн. капитал</td>
              <td>Значение</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-2">
        <table class="table table-borderless table-sm table-striped">
          <thead class="table">
          </thead>
          <tbody>
            <tr>
              <td>Цена/доход</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Акции в обращении</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Доход</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>EPS</td>
              <td>Значение</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-2">
        <table class="table table-borderless table-sm table-striped">
          <thead class="table">
          </thead>
          <tbody>
            <tr>
              <td>Дивиденды</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Бета</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Следующий отчёт</td>
              <td>Значение</td>
            </tr>
            <tr>
              <td>Удалить акцию</td>
              <td>Кнопка</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-1 table_block text-center">Подсветка продажи/покупки</div>

    </div>
    <br>
    <div class="row"> 

      <div class="col-1"></div>

      <div class="col-10 table_block text-center"><a href="#"><h2>Добавить акцию</h2></a></div>

    </div>

  </div>
    
{% endblock %}