<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="navbar-brand"><img src="static/img/logo.png" class="round"></a>    
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <a href="#" class="nav-link link-dark">Курс доллара</a>
        <a href="#" class="nav-link link-dark">Курс евро</a>
        <a href="#" class="nav-link link-dark">ещё курс</a>
        <a href="#" class="nav-link link-dark">ещё курс</a>
      </ul>

      <div class="col-md-3 text-end">
        <a href="users/login"><button type="button" class="btn btn-outline-dark me-2">Вход</button></a>
        <button type="button" class="btn btn-dark">Регистрация</button>
      </div>
    </header>
</div>
